.todos-par {
  width: 100%;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 250px;
  padding: 20px;
  scrollbar-gutter: stable two-side;
}
.no-data {
  color: white;
  opacity: 0.5;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
