nav {
  height: 50px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

a {
  color: inherit;
}

.nav-btns-par {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
